@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-fluid {
        width: 100%;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    @media (min-width: 576px) {
        .container-fluid {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }
    }

    @media (min-width: 992px) {
        .container-fluid {
            padding-right: 4rem;
            padding-left: 4rem;
        }
    }

    @media (min-width: 1280px) {
        .container-fluid {
            padding-right: 6rem;
            padding-left: 6rem;
        }
    }
}
